.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 150px;
    background-color: #353535;
    color: white;
    display: grid;
    grid-template-columns: 0.5fr repeat(2, 0.2fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    z-index: 4;
}

.footerLeft {
    grid-area: 1 / 1 / 2 / 2;
    z-index: 4;
}

.photoMessengers {
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    flex-wrap: wrap;
    z-index: 4;
}




.contactFooter {
    position: relative;
    left: 20%;
    top: 13%;
    z-index: 4;
}

.phone1 {
    position: relative;
    left: 20%;
    top: 14%;
    z-index: 4;
}

.phone2 {
    position: relative;
    left: 20%;
    top: 16%;
    z-index: 4;
}

.email {
    position: relative;
    left: 20%;
    top: 17%;
    z-index: 4;
}

.cyrcle1 {
    position: absolute;
    background-color: white;
    bottom: 50%;
    right: 6%;
    width: 2.4%;
    height: 24%;
    border-radius: 100px;
    z-index: 4;
}

.cyrcle2 {
    position: absolute;
    background-color: white;
    bottom: 50%;
    right: 9%;
    width: 2.4%;
    height: 24%;
    border-radius: 100px;
    z-index: 4;
}

.cyrcle3 {
    position: absolute;
    background-color: white;
    bottom: 50%;
    right: 12%;
    width: 2.4%;
    height: 24%;
    border-radius: 100px;
    z-index: 4;
}

.cyrcle4 {
    position: absolute;
    background-color: white;
    bottom: 50%;
    right: 15%;
    width: 2.4%;
    height: 24%;
    border-radius: 100px;
    z-index: 4;
}

.unicore {
    display: flex;
    flex-wrap: wrap;
    color: white;
    position: relative;
    top: 50%;
    right: 50%;
    width: 300px;
    height: 60px;
    grid-area: 1 / 2 / 2 / 3;
    z-index: 4;
}


.socialMessangerPhoto {
    width: 100%;
    height: 100%;
    z-index: 4;
}